#addOwner {
  background-color: white;
  width: 460px;
  padding: 28px 32px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.heading p {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

.form-section {
  margin-bottom: 18px;
}

.form-section label {
  display: flex;
  justify-content: left;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
}

#name {
  flex-direction: row;
  gap: 10px;
}

.input input {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #e0dddd;
  border-radius: 8px;
  font-size: 14px;
}

#submit input {
  background-color: #0cc19d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

#submit input:hover {
  transform: scale(1.05);
  background-color: #0ab08f;
}
