.table-container {
	width: 100%;
	background: #fafafa;
	padding: 28px 32px;
	border-radius: 16px;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
	text-align: center;
	max-height: 100%;
	overflow-y: auto;
}

.table-wrapper {
	margin-top: 20px;
	border-radius: 12px;
	overflow: inherit;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}


table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

@media (max-width: 1200px) {
    table {
        table-layout: auto;
    }
}

th, td {
	padding: 14px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}

thead {
	background-color: #0cc19d;
	color: #fff;
	font-weight: 600;
}

tbody tr:nth-child(even) {
	background-color: #f7f7f7;
}

tbody tr:nth-child(odd) {
	background-color: #fff;
}

tbody tr {
	transition: background-color 0.25s ease, box-shadow 0.25s ease,
		transform 0.12s ease;
}

tbody tr:hover, tbody tr:target {
	background-color: #e8f7f3;
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

.table-container h2 {
	margin-bottom: 12px;
}

tbody tr a,
button {
  display: inline-flex;
  background-color: #0cc19d;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 4px;
  padding: 5px 10px;
  min-width: 70px;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

tbody tr input {
  text-align: center;
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #e0dddd;
  border-radius: 8px;
  font-size: 14px;
  background-color: white;
}

tbody tr a:hover,
tbody tr button:hover {
  transform: scale(1.05);
  background-color: #0ab08f;
}

.delete:hover {
  transform: scale(1.05);
  background-color: #f76f6f;
}

.approved, .unapproved {
	min-width: 120px;
}

.approved:hover {
  background-color: #f76f6f;
}

.unapproved {
  background-color: #f76f6f;
}

.unapproved:hover {
  background-color: #0ab08f;;
}